*~
*.o
*.lo
*.a
*.la
/build*/
/src/.deps
/test/.deps
/src/l3tc

# autotools stuff
/m4/lt*.m4
/m4/libtool.m4
/aclocal.m4
/ltmain.sh
/install-sh
/config.guess
/config.h.in
/config.sub
/autom4te.cache/
/compile
/configure
/depcomp
/missing
/test-driver
/stamp-h1
/libtool
/config.log
/ChangeLog
/config.h
/config.status


# automake
/ar-lib
Makefile.in
Makefile

# cscope and other tags
/cscope.*
/GPATH
/GRTAGS
/GSYMS
/GTAGS

*.log
*.trs
/test/*_test
/test/test.tmp

TAGS

cscope.out
